<!DOCTYPE html>
<html>
<head>
	<title>Upload files</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
	<style>

		.wrapper {
			width: 100%;
		}

		.row {
		}

		.first-row{
			background-color: rgb(255,194,34);
			height: 100%;
		}
		.second-row {
			background-color: rgb(0,156,59);
			height: 34%;

		}

		.third-row {
			background-color: rgb(50,153,204);
			height: 33%;

		}

		body {
			overflow: hidden;
		}
		.content-text{
			margin-left: 30%;
		}
</style>
<script>
$(document).ready(function () {
	$('.wrapper').height($(window).height());
});
$(window).resize(function () {
$('.wrapper').height($(window).height());

	})
</script>

<script src="/js/jquery.dm-uploader.js"></script>

</head>
<body>
<div class="container-fluid wrapper">
	<div class="row first-row">
		<div class="row-content">
			<p class="content-text">1. Upload</p>
			<input type="file">
		</div>
	</div>


</div>
</body>
</html>